@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s, color 0.3s;
}

body {
  background-color: #f7f7f7;
  color: #333;
}

.dark body {
  background-color: #1a202c;
  color: #e2e8f0;
}

.dark .bg-white {
  background-color: #2d3748;
}

.dark .text-gray-600 {
  color: #e2e8f0;
}
